PRODUCTION=true
SECRET_KEY=${SECRET_KEY}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
ALLOWED_HOST=${ALLOWED_HOST}
APP_ORIGIN=${APP_ORIGIN}
GOOGLE_OAUTH_CLIENT_ID=${GOOGLE_OAUTH_CLIENT_ID}
VITE_GOOGLE_CLIENT_ID=${VITE_GOOGLE_CLIENT_ID}
CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
CLOUDINARY_UPLOAD_FOLDER=${CLOUDINARY_UPLOAD_FOLDER}
CLOUDINARY_UPLOAD_PRESET=${CLOUDINARY_UPLOAD_PRESET}
CLOUDINARY_PUBLIC_UPLOAD_FOLDER=${CLOUDINARY_PUBLIC_UPLOAD_FOLDER}
LOGTAIL_SOURCE_TOKEN=${LOGTAIL_SOURCE_TOKEN}
REMOTE_REMBG_URL=${REMOTE_REMBG_URL}
MODAL_AUTH_TOKEN=${MODAL_AUTH_TOKEN}
GRAFANA_CLOUD_OTLP_TOKEN=${GRAFANA_CLOUD_OTLP_TOKEN}
OTEL_ENABLED=${OTEL_ENABLED}
