-r requirements.txt
django-stubs[compatible-mypy]==6.0.2
djangorestframework-stubs[compatible-mypy]==3.16.9
jsonpath-ng==1.8.0
pip-tools==7.5.3
pytest==9.0.3
pytest-cov==7.1.0
pytest-env==1.6.0
pytest-django==4.10.0
ruff==0.12.1
types-requests
